{% extends 'base.html.twig' %}
{% block body %}
    <h1>Image Uploaded</h1>
    <p>Image <strong>{{ filename }}</strong> has been uploaded to S3.</p>

    {% if presignedUrl %}
        <img src="{{ presignedUrl }}" alt="Uploaded Image" style="max-width: 300px;">
    {% endif %}

    {{ dump(result) }}
{% endblock %}